html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6,
p, a, abbr, address, em, img, ins, samp, small,
strike, strong, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, section,
audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body, input {
  font-family: PingFangTC-Regular, Microsoft JhengHei, sans-serif;
}

.log-acc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body {
  height: 100vh;
}

#content {
  background-image: linear-gradient(to bottom, #aaa, #eee);
  min-height: 100vh;
  padding-top: 45px;
}

#wrapper-single {
  margin: 0 auto;
  padding-bottom: 1px;
  min-height: 100%;
}

@media screen and (max-width: 768px) {
  #wrapper-single {
    width: calc( 100% - 20px );
    padding-top: 10px;
  }
}
@media screen and (min-width: 769px) {
  #wrapper-single {
    width: 90%;
    min-width: 980px;
    padding-top: 35px;
  }
}
@media screen and (max-width: 768px) {
  #wrapper-single {
    padding-bottom: 35px;
    overflow-y: auto;
  }
}
@media screen and (min-width: 769px) {
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }

  #content {
    overflow: auto;
  }
  #content.lb-open #wrapper-single {
    min-height: auto;
  }

  #wrapper-single {
    padding: 90px 20px 38px;
    text-align: center;
    min-height: calc( 100vh - 45px);
    min-width: 100vw;
  }
}
#nav {
  height: 45px;
  background-color: #222C33;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

#logo {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}

.logo-img {
  margin-right: 5px;
}

.logo-title {
  color: #fff;
  font-size: 16px;
}

#location {
  display: inline-flex;
  align-items: center;
  height: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

#nav-mul {
  display: none;
}

#mbbox {
  display: flex;
}

#navlabel {
  align-items: center;
}

.navlabel-item {
  user-select: none;
  cursor: pointer;
  align-items: center;
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.navlabel-item.active {
  cursor: default;
  background-color: #aaa;
  color: #000;
}

.status-box {
  display: flex;
}

.status-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.status-color {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  font-size: 12px;
  border: solid 1px #000;
  overflow: hidden;
}

.status-txt {
  font-size: 14px;
}

.status-chill .status-item[data-status='0'] .status-color {
  position: relative;
}
.status-chill .status-item[data-status='0'] .status-color::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/x_dark.png");
  background-size: cover;
}

#log {
  display: flex;
  align-items: center;
}

.log-msg {
  display: flex;
}

.log-btn {
  color: #333;
  padding: 0 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #nav {
    justify-content: space-between;
  }

  .logo-title {
    display: none;
  }

  .logo-img {
    width: 23px;
  }

  #location {
    position: fixed;
    left: 40px;
    height: 45px;
  }

  #hamber {
    transform: translateX(-10px);
    width: 30px;
    height: 22px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hamber-line {
    height: 1px;
    width: 100%;
    background-color: #fff;
    transition: 0.2s;
  }
  .hamber-line.is-t {
    transform-origin: 100% 0;
  }
  .hamber-line.is-m {
    opacity: 1;
  }
  .hamber-line.is-b {
    transform-origin: 100% 100%;
  }

  .is-open .hamber-line.is-t {
    transform: rotateZ(-45deg);
  }
  .is-open .hamber-line.is-m {
    opacity: 0;
  }
  .is-open .hamber-line.is-b {
    transform: rotateZ(45deg);
  }
  .is-open .mgmnav-ul {
    height: 196px;
  }

  #mbbox {
    flex-direction: column;
    position: fixed;
    top: 45px;
    width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 0 0 15px 15px;
    text-align: center;
  }

  #navlabel {
    display: inline-flex;
    margin: 0 auto 10px;
    border-radius: 15px;
    overflow: hidden;
  }

  .navlabel-item {
    display: inline-flex;
    line-height: 30px;
    background-color: #eaeaea;
    color: #777;
  }

  #statusbox {
    border-top: solid 1px #888;
    padding: 10px 5px 0;
    margin: 0 auto;
    width: 100%;
  }

  .status-box {
    flex-wrap: wrap;
    border-bottom: solid 1px #ccc;
    margin-bottom: 10px;
  }
  .status-box:last-child {
    border: none;
    margin: 0;
  }

  .status-item {
    width: calc( (100% - 20px) / 2);
    margin-bottom: 12px;
  }
  .status-item:nth-child(2n) {
    margin-right: 0;
  }

  #log {
    width: 100%;
    border-top: solid 1px #888;
    padding-top: 10px;
    flex-direction: column;
  }

  .log-msg {
    margin-bottom: 8px;
  }

  .log-acc {
    max-width: 250px;
  }

  .log-btnbox {
    display: flex;
    flex-direction: column;
  }

  .log-in {
    margin: 0 auto;
  }

  .log-btn {
    background-color: #ccc;
    line-height: 30px;
    border-radius: 15px;
  }

  #nav-masker {
    display: none;
    position: fixed;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
  }
}
@media screen and (min-width: 769px) {
  .logo-img {
    width: 30px;
  }

  #mbbox {
    height: 100%;
  }

  #navlabel {
    height: calc( 100% - 4px );
    margin-top: 4px;
    margin-left: 10px;
    display: inline-flex;
  }

  .status-box {
    padding-bottom: 8px;
  }
  .status-box:last-child {
    padding: 0;
  }

  .navlabel-item {
    height: 100%;
    display: flex;
    border-radius: 10px 10px 0 0;
  }

  #statusbox {
    position: fixed;
    top: 45px;
    left: 0;
    width: calc( 100% - 18px * 2 );
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: rgba(178, 178, 178, 0.95);
  }

  #log {
    height: 45px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
  }

  .log-msg {
    color: #fff;
    margin-right: 8px;
  }

  .log-acc {
    max-width: 110px;
  }

  .log-btn {
    background-color: #fff;
    line-height: 20px;
    border-radius: 10px;
    font-size: 13px;
  }
}
#navlabel {
  display: none;
}

#nav-mul {
  display: flex;
}

#mullabel {
  display: flex;
}

.mullabel-item {
  text-decoration: none;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  padding: 8px;
  border-right: solid 1px #ddd;
}
.mullabel-item:last-child {
  border: none;
}
.mullabel-item.active {
  background-color: #aaa;
  cursor: default;
}
.mullabel-item.muted {
  color: #aaa;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  #location {
    width: calc( 100% - 40px - 66px);
    justify-content: center;
  }

  #nav-mul {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    justify-content: space-around;
  }
  #nav-mul span {
    display: none;
  }

  #statusbox {
    padding: 0;
    border: none;
  }
}
@media screen and (min-width: 769px) {
  #location {
    display: none;
  }

  #nav-mul {
    margin-top: 12px;
    align-items: center;
  }
  #nav-mul span {
    color: #fff;
    font-size: 14px;
    margin-right: 5px;
  }
}
.log-in, .status-chill, .log-area {
  display: none;
}

@media screen and (max-width: 768px) {
  #mbbox {
    display: none;
  }
}
.build {
  background-color: #fff;
  display: inline-flex;
  overflow: hidden;
  border-radius: 12px;
  font-size: 14px;
  margin-bottom: 15px;
  position: relative;
}

.build-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #F2F2F2;
  width: 70px;
  text-align: center;
  padding: 5px;
  border-right: solid 1px #b3b3b3;
}

.build-body {
  width: calc( 100% - 70px);
  display: flex;
  margin-bottom: 25px;
}

.build-time {
  position: absolute;
  bottom: 0;
  left: 70px;
  right: 0;
  height: 25px;
  display: flex;
  align-items: center;
  padding: 0 9px;
  font-size: 12px;
  border-top: solid 1px #b3b3b3;
  background-color: #F2F2F2;
}
.build-time[data-err="true"] {
  background-color: #FFF9D7;
  color: red;
}
.build-time[data-err="true"] .build-time-text {
  display: block;
}

.build-time-text {
  display: none;
}

.col {
  display: flex;
  border-right: solid 4px #b3b3b3;
  position: relative;
  background-image: url("../images/border.png");
  background-position: 0 0;
}
.col[data-unit='group'] .col-row, .col[data-unit='group'] .col-title {
  min-width: 100px;
}
.col[data-unit='group'] .col-row, .col[data-unit='group'] .col-limit {
  cursor: pointer;
  justify-content: flex-end;
}
.col[data-unit='pipe'] {
  width: 214px;
}
.col[data-unit='pipe'] .col-item {
  min-width: 62px;
}
.col[data-unit='switch'] .col-row span, .col[data-unit='switch'] .col-row b {
  text-transform: uppercase;
}
.col[data-unit='switch'] .col-row b {
  width: 42px;
  text-align: left;
}
.col:last-child, .col[data-unit='fan'] {
  border: none;
}
.col.col-psy .col-item:last-child .col-row, .col.col-psy .col-item:last-child .col-title {
  padding-right: 12px;
}

.col-row, .col-title {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px #b3b3b3;
  border-right: solid 1px #b3b3b3;
  height: 25px;
  min-width: 55px;
  white-space: nowrap;
}
.col-row:first-child, .col-title:first-child {
  background-color: #F2F2F2;
}
.col-row:last-child, .col-title:last-child {
  margin-bottom: 25px;
}

.col-row {
  user-select: none;
}
.col-row span {
  min-width: 30px;
  text-align: left;
}
.col-row.active {
  background-color: rgba(84, 185, 255, 0.5);
}
.col-row[data-status='man'] {
  color: #f00;
}
.col-row[data-status='auto'] {
  color: #006837;
}

.col-status {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-right: 3px;
}

.col-limit {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25px;
  display: flex;
  justify-content: center;
  padding: 0 5px;
  align-items: center;
  width: 100%;
  border-right: solid 1px #b3b3b3;
  background-color: #F2F2F2;
}
.col-limit span {
  margin: 0 3px;
}

.col-btn {
  font-size: 12px;
  height: 18px;
  padding: 0 5px;
  margin-left: 5px;
  display: inline-flex;
  align-items: center;
  border: solid 1px #333;
  border-radius: 9px;
  color: #333;
  background-color: #fff;
}

#lb-build {
  font-size: 21px;
  color: #fff;
  padding: 5px 0;
}

@media screen and (max-width: 768px) {
  .build:last-child {
    margin-bottom: 50px;
  }

  .build-time-date {
    order: 1;
    margin-right: 15px;
  }

  .build-time-text {
    order: 2;
  }

  #lb-build {
    color: #000;
    text-align: center;
    padding: 10px 0 0;
  }
}
@media screen and (min-width: 769px) {
  .build-time {
    justify-content: flex-end;
  }

  .build-time-date {
    order: 2;
    margin-left: 15px;
  }

  .build-time-text {
    order: 1;
  }
}
#lb {
  position: fixed;
  z-index: 10;
}

#lb-cbox {
  cursor: pointer;
}

#lb-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 36px;
  border-radius: 18px;
  padding: 0 15px;
  color: #fff;
  display: inline-flex;
  align-items: center;
}

#lb-subtitle {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #lb {
    display: none;
    margin: auto;
    top: 10px;
    left: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 24px;
    padding: 16px;
  }

  #lb-masker {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
  }

  #lb-cbox {
    position: fixed;
    font-size: 13px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    top: 29px;
    right: 29px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dedede;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  }

  #lb-close, #lb-open {
    display: none;
  }

  #lb-title {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #lb-subtitle {
    color: #000;
    font-size: 21px;
    line-height: 40px;
    text-align: center;
  }
}
@media screen and (min-width: 769px) {
  #lb {
    transform: translateY(calc(100% - 27px));
    transition: transform 0.3s;
    bottom: 0;
    width: 100%;
    min-width: 1024px;
  }
  #lb[data-open='true'] #lb-close {
    display: inline-block;
  }
  #lb[data-open='true'] #lb-open {
    display: none;
  }

  #lb-masker {
    display: none;
  }

  #lb-cbox {
    border-bottom: solid 3px #222C33;
    width: 100%;
    font-size: 0;
    display: inline-block;
    text-align: center;
  }

  #lb-close {
    display: none;
  }

  #lb-content {
    background-color: #222C33;
    padding: 30px;
    display: flex;
  }

  #lb-title {
    background-color: rgba(0, 0, 0, 0.25);
  }

  #lb-subtitle {
    color: #fff;
    font-size: 18px;
    line-height: 36px;
  }
}
#lb-label {
  font-size: 14px;
  display: inline-flex;
  overflow: hidden;
  height: 30px;
  border-radius: 15px;
  background-color: #fff;
  margin: 8px 0 12px;
}

.lblabel-item {
  display: flex;
  align-items: center;
  padding: 0 6px;
  border-right: solid 1px #aaa;
  cursor: pointer;
}
.lblabel-item.active {
  cursor: default;
  background-color: rgba(84, 185, 255, 0.5);
}
.lblabel-item:first-child {
  padding-left: 12px;
}
.lblabel-item:last-child {
  padding-right: 12px;
  border: none;
}

@media screen and (max-width: 768px) {
  #lb-label {
    width: 100%;
    background-color: #aaa;
  }

  .lblabel-item {
    width: 33.3%;
    text-align: center;
    justify-content: center;
  }
}
.c-c {
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  #lb-cbox {
    right: calc( (100% - 336px)/2 + 20px );
    z-index: 9;
  }

  #lb-subtitle {
    color: #295a7d;
  }

  .c-all-item + .c-all-item {
    margin-top: 30px;
  }

  .c-all-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .c-item {
    display: flex;
    align-items: center;
  }

  .c-mc {
    width: calc( 100% - 110px );
  }

  .c-box {
    position: relative;
  }

  .c-limit {
    position: absolute;
    bottom: calc( 53px + 0px );
    bottom: calc( 53px + 85px );
    bottom: calc( 53px + 14px );
    left: 30px;
    right: 6px;
    height: 1px;
    background-color: #780000;
  }

  .c-machine {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .c-machine span {
    margin-left: 8px;
    color: #666;
  }

  .c-msg {
    width: 110px;
    font-size: 14px;
  }

  .is-open #content {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .is-open #lb {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: calc( 100% - 24px );
    width: 336px;
    margin: 10px auto;
  }
}
@media screen and (min-width: 769px) {
  #lb-content {
    padding: 15px;
  }

  #lb-lr {
    display: flex;
    width: calc( 270px + 850px );
    margin: 0 auto;
  }

  #lb-left {
    width: 270px;
    height: 475px;
    overflow: auto;
    margin-right: 20px;
  }

  #lb-subtitle {
    color: yellow;
  }

  #c-all {
    display: flex;
  }

  .c-all-item {
    width: 50%;
  }

  .c-all-title {
    margin-bottom: 5px;
    font-size: 16px !important;
  }

  .c-box {
    margin-right: 15px;
  }

  .c-item {
    cursor: pointer;
    padding: 6px;
    border-radius: 6px;
  }
  .c-item.active {
    background-color: rgba(84, 185, 255, 0.5);
  }
  .c-item:last-child {
    margin: 0;
  }

  .c-c {
    padding: 10px;
    border-radius: 10px;
    width: 80px;
    margin-bottom: 5px;
  }

  .c-machine {
    margin-bottom: 5px;
  }
  .c-machine span {
    display: none;
  }

  .c-machine, .c-all-title, .c-msg {
    color: #fff;
    font-size: 12px;
  }
}
.canvas-basic {
  position: relative;
}

.canvas-limit {
  position: absolute;
  bottom: calc( 53px + 0px );
  bottom: calc( 53px + 335px );
  bottom: calc( 53px + 55px );
  left: 30px;
  right: 6px;
  height: 1px;
  background-color: #780000;
}

@media screen and (max-width: 768px) {
  #lb-right {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  #lb-right {
    width: calc( 100% - 330px );
    width: 850px;
  }

  .lb-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: inline;
    margin-right: 10px;
  }

  .lb-subtitle {
    color: #fff;
    font-size: 15px;
    display: inline;
  }
  .lb-subtitle span {
    padding-right: 12px;
  }

  .canvas-box {
    background-color: #fff;
    padding: 30px 30px 10px;
    border-radius: 20px;
    margin-top: 12px;
  }
}
#sys-masker, .sys {
  display: none;
}

#sys-masker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.8);
}

.sys {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  margin: auto;
  z-index: 7;
  width: 300px;
}

.sys-title {
  border-radius: 12px 12px 0 0;
  background-color: #999;
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.sys-close {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  right: 5px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  user-select: none;
}

.sys-box {
  border-radius: 0 0 12px 12px;
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.sys-item {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  padding-left: 20px;
}

.sys-txt {
  font-size: 15px;
  margin: 0 6px;
}

.sys-ipt {
  border: none;
  background-color: #eee;
  line-height: 30px;
  padding-left: 5px;
  width: 40px;
}

.sys-bbox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.sys-bbox.is-muted {
  opacity: 0.5;
  position: relative;
}
.sys-bbox.is-muted:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: not-allowed;
}

.sys-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  height: 30px;
  border: solid 1px #333;
  border-radius: 15px;
  padding: 0 20px;
  cursor: pointer;
  user-select: none;
  margin-right: 10px;
}
.sys-btn:last-child {
  margin: 0;
}

.sys-box.is-color {
  text-align: left;
}

.sys-citem {
  height: 30px;
  position: relative;
  width: 200px;
  margin: 0 auto;
}
.sys-citem.is-seling .sys-sbtn {
  z-index: 999;
}

.sys-ctxt {
  position: absolute;
  top: 6px;
  left: 79px;
  font-size: 14px;
}

.sys-sbtn {
  position: absolute;
  top: 5px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 18px;
  font-size: 13px;
  color: #000;
  border: solid 1px #000;
  border-radius: 10px;
  cursor: pointer;
}
.sys-sbtn.is-edit {
  background-color: #2E3192;
  color: #fff;
  z-index: 999;
}

.minicolors-input {
  font-size: 0;
  width: 200px !important;
  background-color: transparent;
  border: none !important;
  cursor: pointer !important;
  padding-left: 0 !important;
}

.minicolors-swatch {
  left: 56px !important;
  border: solid 1px #000 !important;
  cursor: pointer !important;
}

.sys-citem[data-status='0'] .minicolors-swatch:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/x_dark.png");
  background-size: cover;
}

@media screen and (min-width: 769px) {
  #sys-masker, .sys {
    z-index: 11;
  }
}
#times {
  position: fixed;
  background-color: #eee;
  z-index: 0;
  display: flex;
  align-items: center;
  padding: 3px 5px;
}

#times-now {
  color: #666;
}
#times-now span {
  color: #000;
}

#times-err {
  background-color: red;
  color: #fff;
  border-radius: 3px;
  display: none;
}

@media screen and (max-width: 768px) {
  #times {
    font-size: 12px;
    bottom: 0;
    right: 0;
    width: 100%;
    justify-content: space-around;
    z-index: 1;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    height: 30px;
  }

  #times-err {
    padding: 5px;
    margin-left: 0;
  }
}
@media screen and (min-width: 769px) {
  #times {
    font-size: 14px;
    bottom: 10px;
    right: 25px;
    z-index: 1;
  }

  #times-err {
    padding: 5px 10px;
    margin-left: 12px;
  }
}
#times {
  display: none;
}

/*# sourceMappingURL=multiple.css.map */
