.build-row 
	.build-floor 10
	.build-house
		.build-item(data-status='2' style='background-color: #9AE2BE') 
		.build-item(data-status='2' style='background-color: #9AE2BE') 
		.build-item(data-status='2' style='background-color: #9AE2BE') 
		.build-item(data-status='2' style='background-color: #9AE2BE') 
		.build-item(data-status='2' style='background-color: #9AE2BE') 
		.build-item(data-status='2' style='background-color: #9AE2BE') 
		.build-item(data-status='0' style='background-color: #999') 
		.build-item(data-status='3' style='background-color: #FC81B4') 
		.build-item(data-status='2' style='background-color: #9AE2BE') 