//- x 5
.build
	//- title + 7 area
	.build-title 中國信托大樓
	//- 7area
	.build-body
		.area-row
			.area
				.area-item 群組
			.area
				.area-item 正常
				.area-item 異常
			.area 
				.area-item (水泵)30HP01
				.area-item 30HP02
				.area-item 15HP
			.area 
				.area-item (風扇)Tower01
				.area-item Tower02
				.area-item Tower03
			.area 
				.area-item (溫壓)出水溫
				.area-item 回水溫
				.area-item 水壓差
			.area 
				.area-item (開關狀態)
				.area-item 
			.area 
				.area-item 乾球 
				.area-item 濕球
		.area-row
			.area
				.area-item 客梯側
			.area
				.area-item 32
				.area-item
					.area-color
					|1
			.area 
				.area-item 
					.area-color(data-status='2' style='background-color:#9B9BEA')
					|35.0
				.area-item 
					.area-color(data-status='3' style='background-color:#4B4BEA')
					|35.0
				.area-item 
					.area-color(data-status='4' style='background-color:#C1272D')
					|45
			.area 
				.area-item 
					.area-color(data-status='2' style='background-color:#9B9BEA')
					|35.0
				.area-item 
					.area-color(data-status='5' style='background-color:#F7931E')
					|-
				.area-item 
					.area-color(data-status='1' style='background-color:#999')
					|off 
			.area 
				.area-item 23.09
				.area-item 25.19
				.area-item 0.21
			.area 
				.area-item 
				.area-item 
			.area 
				.area-item 33.83
				.area-item 25.11
		.area-row
			.area
				.area-item 貨梯側
			.area
				.area-item 32
				.area-item
					.area-color
					|1
			.area 
				.area-item 
					.area-color(data-status='2' style='background-color:#9B9BEA')
					|35.0
				.area-item 
					.area-color(data-status='3' style='background-color:#4B4BEA')
					|35.0
				.area-item 
					.area-color(data-status='4' style='background-color:#C1272D')
					|45
			.area 
				.area-item 
					.area-color(data-status='2' style='background-color:#9B9BEA')
					|35.0
				.area-item 
					.area-color(data-status='5' style='background-color:#F7931E')
					|-
				.area-item 
					.area-color(data-status='1' style='background-color:#999')
					|off 
			.area 
				.area-item 23.09
				.area-item 25.19
				.area-item 0.21
			.area 
				.area-item SW1:MAN
				.area-item SW2:AUTO
			.area 
				.area-item
				.area-item