.block
	.title
		.title-txt 客梯側
		.title-switch 
			.title-item 
				.title-machine 30HP01：
				.title-status(data-status='man') MAN
			.title-item 
				.title-machine 30HP02：
				.title-status(data-status='auto') AUTO
			.title-item 
				.title-machine 30HP03：
				.title-status(data-status='off') OFF
	.card
		.card-item(data-type='pump')
			.card-left
				.left-img.is-err
					img.is-nor(src='./images/pump_nor.png')
					img.is-err(src='./images/pump_err.png')
				.left-name 水泵浦
			.card-right
				.right-item
					.right-name 30HP01：
					.right-color(data-status='1' style='background-color: #9B9BEA') 33
					include right_btn
				.right-item
					.right-name 30HP02：
					.right-color(data-status='2' style='background-color: #4B4BEA') 33
					include right_btn
				.right-item
					.right-name 30HP03：
					.right-color(data-status='0' style='background-color: #999') 33
					include right_btn
		.card-item(data-type='fan')
			.card-left
				.left-img.is-err
					img.is-nor(src='./images/fan_nor.png')
					img.is-err(src='./images/fan_err.png')
				.left-name 水塔風扇
			.card-right
				.right-item
					.right-name Tower01：
					.right-color(data-status='3' style='background-color: #4B4BEA') 33
					include right_btn
				.right-item
					.right-name Tower02：
					.right-color(data-status='4' style='background-color: #C1272D') 33
					include right_btn
				.right-item
					.right-name Tower03：
					.right-color(data-status='5' style='background-color: #F7931E') 33
					include right_btn
		.card-item(data-type='pipe')
			.card-left
				.left-img.is-err
					img.is-nor(src='./images/pipe_nor.png')
					img.is-err(src='./images/pipe_err.png')
				.left-name 水溫/水壓
			.pipe 
				.pipe-box
					.pipe-item
						.pipe-name 回水溫：
						.pipe-num 35.3
					.pipe-item
						.pipe-name 出水溫：
						.pipe-num(data-status='' style='background-color: #8CC63F') 25.5
					.pipe-item
						.pipe-name 水壓差：
						.pipe-num(data-status='' style='background-color: #C1272D') 0.60
				.pipe-board
					.pipe-guide(style='transform: rotate(80deg)')