#nav
	height: $h-nav
	background-color: $c-nav
	display: flex
	align-items: center
	width: 100%
	position: fixed
	top: 0
	left: 0
	z-index: 5

// ----------------------------
#logo
	display: inline-flex
	align-items: center
	height: 100%
	padding: 0 10px

.logo-img
	margin-right: 5px

.logo-title
	color: #fff
	font-size: 16px

//----------------------------
#location
	display: inline-flex
	align-items: center
	height: 100%
	color: #fff
	font:
		size: 16px
		weight: bold

// ----------------------------
#nav-mul
	display: none

// ----------------------------
#mbbox
	display: flex

// ----------------------------
#navlabel
	align-items: center

.navlabel-item
	user-select: none
	cursor: pointer
	align-items: center
	padding: 0 10px
	background-color: rgba(255,255,255,.3)
	color: rgba(255,255,255,.6)
	&.active
		cursor: default
		background-color: $c-bg1
		color: #000

// ----------------------------
#statusbox

.status-box
	display: flex

.status-item
	display: flex
	align-items: center
	margin-right: 20px
	
.status-color
	width: 10px
	height: 10px
	margin-right: 5px
	font-size: 12px
	border: solid 1px #000
	overflow: hidden

.status-chill .status-item[data-status='0'] .status-color
	position: relative
	&::after
		content: ''
		position: absolute
		width: 100%
		height: 100%
		top: 0
		left: 0
		background:
			image: url('../images/x_dark.png')
			size: cover

// ----------------------------
#log
	display: flex
	align-items: center

.log-msg
	display: flex

.log-acc
	@extend %row1

.log-in
	
.log-outbox
	// display: none

.log-btn
	color: #333
	padding: 0 8px
	cursor: pointer
	display: inline-flex
	align-items: center

#nav-masker

@media screen and (max-width: $bp-narrow)
	#nav
		justify-content: space-between
	
	// ----------------------------
	.logo-title
		display: none

	.logo-img
		width: 23px

	// ----------------------------
	#location
		position: fixed
		left: $w-logo-mb
		height: $h-nav

	// ----------------------------
	#hamber
		transform: translateX(-10px)
		width: 30px
		height: 22px
		position: relative
		display: flex
		flex-direction: column
		justify-content: space-between

	.hamber-line
		height: 1px
		width: 100%
		background-color: #fff
		transition: .2s
		&.is-t
			transform-origin: 100% 0

		&.is-m
			opacity: 1
		
		&.is-b
			transform-origin: 100% 100%

	.is-open 
		.hamber-line
			&.is-t
				transform: rotateZ(-45deg)

			&.is-m
				opacity: 0
			
			&.is-b
				transform: rotateZ(45deg)

		.mgmnav-ul
			height: 196px
	
	// ----------------------------
	#mbbox
		flex-direction: column
		position: fixed
		top: $h-nav
		width: 100%
		background-color: #fff
		padding: 15px
		border-radius: 0 0 15px 15px
		text-align: center

	// ----------------------------
	#navlabel
		display: inline-flex
		margin: 0 auto 10px
		border-radius: 15px
		overflow: hidden

	.navlabel-item
		display: inline-flex
		line-height: 30px
		background-color: #eaeaea
		color: #777

	// ----------------------------
	#statusbox
		border-top: solid 1px $c-big-hr
		padding: 10px 5px 0
		margin: 0 auto
		width: 100%

	.status-box
		flex-wrap: wrap
		border-bottom: solid 1px #ccc
		margin-bottom: 10px
		&:last-child
			border: none
			margin: 0
		
	.status-item
		width: calc( (100% - 20px) / 2)
		margin-bottom: 12px
		&:nth-child(2n)
			margin-right: 0
		
	// ----------------------------
	#log
		width: 100%
		border-top: solid 1px $c-big-hr
		padding-top: 10px
		flex-direction: column

	.log-msg
		margin-bottom: 8px

	.log-acc
		max-width: 250px

	.log-btnbox
		display: flex
		flex-direction: column

	.log-in
		margin: 0 auto

	.log-btn
		background-color: #ccc
		line-height: 30px
		border-radius: 15px

	#nav-masker
		display: none
		position: fixed
		top: $h-nav
		right: 0
		bottom: 0
		left: 0
		margin: auto
		background-color: rgba(0,0,0,.8)
		z-index: 1
		
@media screen and (min-width: $bp-wide)
	.logo-img
		width: 30px

	// ----------------------------
	#mbbox
		height: 100%

	// ----------------------------
	$dis: 4px
	#navlabel
		height: calc( 100% - #{$dis} )
		margin:
			top: $dis
			left: 10px
		display: inline-flex

	.status-box
		padding-bottom: 8px
		&:last-child
			padding: 0

	.navlabel-item
		height: 100%
		display: flex
		border-radius: 10px 10px 0 0

	// ----------------------------
	#statusbox
		position: fixed
		top: $h-nav
		left: 0
		width: calc( 100% - 18px * 2 )
		width: 100%
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		padding: 10px 0
		background-color: rgba(178, 178, 178, .95)

	// ----------------------------
	#log
		height: $h-nav
		padding: 0 10px
		display: flex
		align-items: center
		position: fixed
		right: 0

	.log-msg
		color: #fff
		margin-right: 8px

	.log-acc
		max-width: 110px

	.log-btn
		background-color: #fff
		line-height: 20px
		border-radius: 10px
		font-size: 13px

	#nav-masker