#times
	position: fixed
	background-color: #eee
	z-index: 0
	display: flex
	align-items: center
	padding: 3px 5px
	
#times-now
	color: #666

	span
		color: #000

#times-err
	background:
		color: red
	color: #fff
	border-radius: 3px
	display: none

@media screen and (max-width: $bp-narrow)
	#times
		font-size: 12px
		bottom: 0
		right: 0
		width: 100%
		justify-content: space-around
		z-index: 1
		box-shadow: 0 0 15px rgba(0,0,0,.5)
		height: 30px

	#times-now
		
		span

	#times-err
		padding: 5px
		margin-left: 0

@media screen and (min-width: $bp-wide)
	#times
		font-size: 14px
		bottom: 10px
		right: 25px
		z-index: 1
		
	#times-now
		
		span

	#times-err
		padding: 5px 10px
		margin-left: 12px