#sys-masker,.sys
	display: none
	
#sys-masker
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	margin: auto
	z-index: 7
	background-color: rgba( 0,0,0,.8)

.sys
	position: fixed
	top: 50%
	transform: translateY(-50%)
	right: 0
	left: 0
	margin: auto
	z-index: 7
	width: 300px
	// border-radius: 12px
	// overflow: hidden

.sys-title
	border-radius: 12px 12px 0 0
	background-color: #999
	height: 40px
	display: flex
	align-items: center
	position: relative
	padding-left: 15px
	font:
		size: 16px
		weight: bold
	color: #fff

.sys-close
	position: absolute
	width: 30px
	height: 30px
	background-color: #fff
	border-radius: 50%
	right: 5px
	top: 5px
	display: flex
	align-items: center
	justify-content: center
	font-size: 18px
	color: #333
	cursor: pointer
	user-select: none

.sys-box
	border-radius: 0 0 12px 12px
	padding: 20px
	background-color: #fff
	text-align: center

.sys-item
	display: inline-flex
	align-items: center
	margin-bottom: 10px

.sys-txt
	font-size: 15px
	margin: 0 6px

.sys-ipt
	border: none
	background-color: #eee
	line-height: 30px
	padding-left: 5px

.sys-btn
	display: inline-flex
	align-items: center
	justify-content: center
	font-size: 15px
	height: 30px
	border: solid 1px #333
	border-radius: 15px
	padding: 0 20px
	cursor: pointer
	user-select: none

// ----------------------------
// ----------------------------
$w-cl: 18px
$h-citem: 30px
.sys-box.is-color
	text-align: left

.sys-citem
	height: $h-citem
	position: relative
	width: 200px
	margin: 0 auto
	&.is-seling
		.sys-sbtn
			z-index: 999

.sys-ctxt
	position: absolute
	top: 6px
	left: 79px
	font-size: 14px

.sys-sbtn
	position: absolute
	top: 5px
	left: 0
	display: flex
	align-items: center
	justify-content: center
	width: 50px
	height: 18px
	font-size: 13px
	color: #000
	border: solid 1px #000
	border-radius: 10px
	cursor: pointer

// ----------------------------
// ----------------------------
.minicolors

.minicolors-input
	font-size: 0
	width: 200px!important
	background-color: transparent
	border: none!important
	cursor: pointer!important
	padding-left: 0!important

.minicolors-swatch
	left: 56px!important
	border: solid 1px #000!important

.sys-citem[data-value='0']
	.minicolors-swatch
		&:after
			content: '╳'
			position: absolute
			color: #000
			top: -5px
			left: 0
			overflow: hidden
			font:
				size: 27px
				weight: lighter

.minicolors-swatch-color


.minicolors-panel



// .minicolors
// 	position: static!important

// .minicolors-input
// 	padding: 0!important
// 	width: 0!important
// 	height: $h-citem!important //< ***
// 	background: red
// 	border: none

// .minicolors-swatch
// 	position: static!important
// 	width: 10px!important
// 	height: 10px!important
// 	left: 0!important

// .minicolors-swatch-color
// 	width: 10px
// 	height: 10px
// 	position: static!important
// 	display: block

// .minicolors-panel
// 	top: 55px!important
// 	right: 15px