doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title mutiple
		link(href='./css/multiple.css' rel='stylesheet')
		//-----------------------------
		script(src='./assets/plugins/jquery/jquery-1.12.4-min.js')
		script(src='./assets/plugins/chart-js/Chart-2.8.0.min.js')
		script(src='./js/time_check.js')
		//- script(src='./js/share_pump_multiple.js')
		script(src='./js/multiple_time.js')
		script(src='./js/multiple.js')
		script(src='./js/multiple_chart.js')
		//-----------------------------
		link(href='./assets/plugins/minicolors/jquery.minicolors.css' rel='stylesheet' )
		script(src='./assets/plugins/minicolors/jquery.minicolors.js')
		script(src='./js/sys_basic.js')
		script(src='./js/sys_multiple.js')
		script(src='./js/sys_multiple_thre.js')
		script(src='./js/sys_multiple_color.js')
	//- body.is-open
	body
		include nav
		include times
		#content
			#wrapper-single
				//- include partials/mul_row
				

		-var multiple = true
		include sys
		include lb_pump_multiple