#nav
	#nav-logo
	#nav-title
	#navlabel
		.navlabel-item 冰機狀態
		.navlabel-item 冷卻水系統狀態
	#navice
		.navmain-item(data-status='0') 0
		.navmain-item(data-status='1') 1
		.navmain-item(data-status='2') 2
		.navmain-item(data-status='3') 3
		.navmain-item(data-status='4') 4
		.navmain-item(data-status='5') 5
	#navicem
		.navmain-item(data-status='0') 1
		.navmain-item(data-status='1') 2
	#nav-water
		.navmain-item(data-status='1') 1
		.navmain-item(data-status='2') 2
		.navmain-item(data-status='3') 3
		.navmain-item(data-status='4') 4
		.navmain-item(data-status='5') 5
	#log
		#log-msg
			#log-title 使用者
			#log-acc 訪客
		#log-btnbox
			#log-in 登入
			#log-outbox
				#log-out 登入
				#log-color 調整用色
				#log-area 調整變頻器區間