#nav
	#logo
		img.logo-img(src='./images/logo.png')
		.logo-title 今時科技股份有限公司
	#location
		|案場：
		span 中國信托大樓
	#nav-mul
		span 案場總覽
		#mullabel
			.mullabel-item.muted Prev
			.mullabel-item 1
			.mullabel-item.active 2
			.mullabel-item 3
			.mullabel-item Next
	#hamber
		.hamber-line.is-t 
		.hamber-line.is-m
		.hamber-line.is-b
	#mbbox
		#navlabel
			if page == 'chiller'
				.navlabel-item.active 冰機狀態
				a.navlabel-item(href='./single_pump.html') 冷卻水系統狀態
			else
				a.navlabel-item(href='./single_chiller.html?build_id=build01') 冰機狀態
				.navlabel-item.active 冷卻水系統狀態
		#statusbox
			.status-chillm.status-box
				.status-item(data-status='0')
					.status-color(style='background-color: greenyellow')
					.status-txt 1
				.status-item(data-status='1')
					.status-color(style='background-color: greenyellow')
					.status-txt 2
			.status-chill.status-box
				//- .status-item(data-status='0')
				//- 	.status-color(style='background-color: greenyellow')
				//- 	.status-txt 0
				//- .status-item(data-status='1')
				//- 	.status-color(style='background-color: greenyellow')
				//- 	.status-txt 1
				//- .status-item(data-status='2')
				//- 	.status-color(style='background-color: greenyellow')
				//- 	.status-txt 2
				//- .status-item(data-status='3')
				//- 	.status-color(style='background-color: greenyellow')
				//- 	.status-txt 3
				//- .status-item(data-status='4')
				//- 	.status-color(style='background-color: greenyellow')
				//- 	.status-txt 4
				//- .status-item(data-status='5')
				//- 	.status-color(style='background-color: greenyellow')
				//- 	.status-txt 5
			.status-motor.status-box
				.status-item(data-status='1')
					.status-color(style='background-color: greenyellow')
					.status-txt 1
				.status-item(data-status='2')
					.status-color(style='background-color: greenyellow')
					.status-txt 2
				.status-item(data-status='3')
					.status-color(style='background-color: greenyellow')
					.status-txt 3
				.status-item(data-status='4')
					.status-color(style='background-color: greenyellow')
					.status-txt 4
				.status-item(data-status='5')
					.status-color(style='background-color: greenyellow')
					.status-txt 5
			.status-pipe.status-box
				.status-item(data-status='0')
					.status-color(style='background-color: greenyellow')
					.status-txt pipe 1
				.status-item(data-status='1')
					.status-color(style='background-color: greenyellow')
					.status-txt pipe 2
				.status-item(data-status='0')
					.status-color(style='background-color: greenyellow')
					.status-txt pipe 1
				.status-item(data-status='1')
					.status-color(style='background-color: greenyellow')
					.status-txt pipe 2
		#log
			.log-msg
				.log-title 使用者：
				.log-acc 訪客訪客訪客訪客
			.log-btnbox
				.log-in.log-btn 登入
				.log-outbox
					.log-color.log-btn 調整用色
					.log-area.log-btn 調整變頻器區間
					.log-out.log-btn 登出
#nav-masker