doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title single pump
		link(href='./css/single_pump.css?111' rel='stylesheet')
		//-----------------------------
		script(src='./assets/plugins/jquery/jquery-1.12.4-min.js?111')
		script(src='./assets/plugins/chart-js/Chart-2.8.0.min.js?111')
		script(src='./js/time_check.js')
		script(src='./js/share_pump_multiple.js')
		script(src='./js/single_pump.js?111')
		//-----------------------------
		link(href='./assets/plugins/minicolors/jquery.minicolors.css?111' rel='stylesheet' )
		script(src='./assets/plugins/minicolors/jquery.minicolors.js?111')
		script(src='./js/sys_basic.js?111')
	//- body.is-open
	body
		-var page='pump'
		include nav
		include times
		#content
			#wrapper-single
				#mb-btn 省電詳細
				include partials/pump_block
				include partials/pump_block
				include partials/pump_block
				include partials/pump_block
				include partials/pump_block
				include partials/pump_block
				include partials/pump_block
				include partials/pump_block


		include sys
		include lb_pump_multiple

