#sys-masker 
.sys.sys-login
	.sys-title
		|登入
		.sys-close ╳
	.sys-box
		.sys-item
			.sys-txt 帳號
			input.sys-ipt(type='text' style='width: 160px')
		.sys-item
			.sys-txt 密碼
			input.sys-ipt(type='password' style='width: 160px')
		br
		.sys-btn 登入

//-----------------------------
.sys.sys-area
	.sys-title
		|請調整變頻器警示區間
		.sys-close ╳
	.sys-box
		.sys-item
			.sys-txt 數據逹
			input.sys-ipt(type='text' style='width: 30px')
			.sys-txt 時為開機中
		.sys-item
			.sys-txt 數據逹
			input.sys-ipt(type='text' style='width: 30px')
			.sys-txt 時為開機高
		br
		.sys-btn 修改

//-----------------------------
.sys.sys-color
	.sys-title
		|請選擇色彩
		.sys-close ╳
	.sys-box.is-color
		.sys-citem 
			.sys-ctxt (水)開機中(41~59) 
			.sys-sbtn 修改
			input.minicolors-item(type='text' data-control='wheel' value='#f00')
		.sys-citem.is-seling
			.sys-ctxt status
			.sys-sbtn 確認
			input.minicolors-item(type='text' data-control='wheel' value='#f00')
		.sys-citem 
			.sys-ctxt status
			.sys-sbtn 修改
			input.minicolors-item(type='text' data-control='wheel' value='#f00')
		.sys-citem 
			.sys-ctxt status
			.sys-sbtn 修改
			input.minicolors-item(type='text' data-control='wheel' value='#f00')
		.sys-citem 
			.sys-ctxt status
			.sys-sbtn 修改
			input.minicolors-item(type='text' data-control='wheel' value='#f00')