#sys-masker 
.sys.sys-login
	.sys-title
		|登入
		.sys-close ╳
	.sys-box
		.sys-item
			.sys-txt 帳號
			input#loginAcc.sys-ipt(type='text' style='width: 160px')
		.sys-item
			.sys-txt 密碼
			input#loginPW.sys-ipt(type='password' style='width: 160px')
		br
		.sys-btn 登入

//-----------------------------
.sys.sys-area
	.sys-title
		if multiple
			|交界-中國信托大樓
		else
			|請調整變頻器警示區間
		.sys-close ╳
	.sys-box
		.sys-ibox
			.sys-item
				.sys-txt 數據逹
				input.sys-ipt(type='text')
				.sys-txt 時為開機中
			.sys-item
				.sys-txt 數據逹
				input.sys-ipt(type='text')
				.sys-txt 時為開機高
			hr
			.sys-item
				.sys-txt 數據逹
				input.sys-ipt(type='text')
				.sys-txt 時為出水溫高
			.sys-item
				.sys-txt 數據逹
				input.sys-ipt(type='text')
				.sys-txt 時為水壓差高
		.sys-bbox
			.sys-btn 取消
			.sys-btn#updateThre 修改

//-----------------------------
.sys.sys-color
	.sys-title
		if multiple
			|多案場色彩調整
		else
			|請選擇色彩
		.sys-close ╳
	.sys-box.is-color
		.sys-cbox
			.sys-citem 
				.sys-ctxt (水)開機中(41~59) 
				.sys-sbtn 修改
				input.minicolors-item(type='text' data-control='wheel' value='#f00' readonly)
			hr
			.sys-citem 
				.sys-ctxt (水)開機中(41~59) 
				.sys-sbtn 修改
				input.minicolors-item(type='text' data-control='wheel' value='#f00' readonly)
		.sys-bbox
			.sys-btn 取消
			.sys-btn#updateColor 修改
